<h2>Olá {{ name }},</h2>
<p>
  Parece que você solicitou uma recuperação da sua senha, caso queira continuar clique no link abaixo:
</p>
<p>
<a href="{{ resetPasswordUrl }}" target="_blank">Recuperar Senha</a>
</p>
<p>
  Caso não tenha sido você que fez essa solicitação, por favor, ignore este email.
</p>
<p>
  <strong>LaBrisa</strong>
</p>
